@font-face {
    font-family: 'Inter 18pt';
    src: url('Inter18pt-Regular.eot');
    src: url('Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter18pt-Regular.woff2') format('woff2'),
        url('Inter18pt-Regular.woff') format('woff'),
        url('Inter18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Regular.eot');
    src: url('Inter24pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter24pt-Regular.woff2') format('woff2'),
        url('Inter24pt-Regular.woff') format('woff'),
        url('Inter24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Regular.eot');
    src: url('Inter28pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter28pt-Regular.woff2') format('woff2'),
        url('Inter28pt-Regular.woff') format('woff'),
        url('Inter28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

